 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url(./reset.css);
 *{
    font-family: var(--font);
 }

:root{
    --colorone: #0D0D0D;  
    --colorthree:#ffffff;
    --font:Montserrat;
}

body{
    width:100vw;
    height:100vh;
    padding: 0;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorone);
}

form{
    width: 450px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.8rem;
    background-color: var(--colorthree);
}

form .inputtxt{
    padding: .5rem;
    margin: .9rem;
    border-radius: .7rem;
    background-color: var(--colorone);
    border:none;
    outline: none;
    color:var(--colorthree);
    font-size: 1rem;
}

form .submit{
    border-radius: .5rem;
    border: none;
    padding: .8rem;
    margin: .9rem;
    color: var(--colorthree);
    background-color: var(--colorone);
    text-decoration: none;
    font-size: 0.8rem;
}

label{
    color: var(--colorone);
    font-weight: 450;
}

form .submit:hover{
    padding: .9;
    color: var(--colorone);
    background-color: var(--colorthree);
    border: .1rem solid var(--colorone);
    transition-duration: .6s;
}